/* SETTINGS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.column-sx {
  width: 65%;
  padding-right: 20px;
}

.column-dx {
  width: 35%;
  padding-left: 20px;
}

/* UTILS */

.container-large {
  width: 60%;
  margin: 0 auto;
  padding: 0 15px;
}

.container-slim {
  width: 55%;
  margin: 0 auto;
  padding: 0 15px;
}

.button-blue {
  background-color: hsl(217.18deg 100% 50%);
  color: white;
  padding: 10px 20px;
  flex-grow: 0;
  border-style: none;
}

.button-trasparent {
  background-color: hsla(217, 100%, 50%, 0);
  color: black;
  padding: 10px 20px;
  flex-grow: 0;
  border-style: 2px solid black;
}

/* DEBUG */

.debug {
  min-height: 80px;
  background-color: lightgrey;
  padding: 2rem;
}

/* HEADER */

.header-page {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-page-sx ul li,
.header-page-dx ul li {
  padding: 0 10px;
}

.header-page-sx ul {
  line-height: 60px;
}

.header-page-sx ul li img {
  position: relative;
  top: 5px;
}

/* MAIN */

/* JUMBOTRON */

.jumbotron {
  background-color: hsl(207.06deg 51.52% 80.59%);
  height: 650px;
}

h1 {
  font-size: 80px;
  font-weight: 800;
  padding-top: 70px;
  margin-bottom: 50px;
}

.container-large .jumbotron-columns {
  display: flex;
  align-items: flex-start;
}

.container-large .jumbotron-columns .column-sx-jumbotron {
  display: flex;
  flex-direction: column;
}

.column-sx-jumbotron .button-blue {
  align-self: flex-start;
  margin: 30px 0;
}

.column-sx-jumbotron i {
  font-size: 50px;
  margin-top: 35px;
}

.column-dx-jumbotron img {
  width: 4000px;
}

/* SUBSCRIPTIONS SECTION */

h2 {
  margin-top: 130px;
  font-size: 40px;
  font-weight: 600;
}

.time-span-options {
  margin: 50px 0;
}

/* Radio option */
.radio-option {
  position: relative;
  padding: 0 40px;
  margin: 50px 0;
  font-size: 1rem;
}

/* Hide default radio button */
.radio-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: lightgrey;
  border-radius: 50%;
}

/* Blue checked background */
.radio-option input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* White dot check */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* White dot check if checked */
.radio-option input:checked ~ .checkmark:after {
  display: block;
}

/* White dot check settings */
.radio-option .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}

.container-slim .subscriptions-section .subscriptions-options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* SUBSCRIPTIONS CARD/COLUMNS */

.subscriptions-card {
  width: 30%;
  min-height: 1000px;
  gap: 10px;
  display: inline;
  border: 2px solid lightgray;
}

.subscriptions-header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.subscriptions-type {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}

.subscriptions-plan {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.subscriptions-plan h3 {
  font-size: 1.5rem;
  line-height: 4rem;
}

.subscriptions-plan .subscriptions-period {
  color: gray;
  line-height: 2rem;
}

.subscriptions-plan-info {
  --icon-space: 1.3em;
  list-style: none;
  padding-bottom: 40px;
}

.subscriptions-plan-info li {
  padding-left: var(--icon-space);
  margin-top: 30px;
}

.subscriptions-plan-info li:first-child:before {
  content: "\f007"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.subscriptions-plan-info li:nth-child(2):before {
  content: "\f07b"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.subscriptions-plan-info li:nth-child(3):before {
  content: "\f1e0"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.subscriptions-type .sell-ads-card {
  margin: 30px 0;
}

.sell-ads-card a {
  color: blue;
  text-decoration: underline;
}

.subscriptions-type hr {
  width: 20%;
  color: lightgray;
}

.subscriptions-plan-keypoints {
  --icon-space: 1.3em;
  list-style: none;
  padding: 40px 0;
}

.subscriptions-plan-keypoints li {
  padding-left: var(--icon-space);
  padding-top: 30px;
}

.subscriptions-plan-keypoints li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
  color: hsl(217.18deg 100% 50%);
}

/* CONTACT FOR ENTERPRISE CARD */

.contact-for-enterprise-card {
  border: 2px solid lightgray;
  margin: 40px 0;
}

.cfe-body {
  display: flex;
  margin: 30px 20px;
}

.cfe-body .column-dx {
  display: flex;
  justify-content: end;
}

.cfe-header {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  padding: 10px 0;
}

.cfe-body .column-sx h3 {
  font-size: 1.5rem;
}

.cfe-body .column-sx div {
  font-weight: bold;
  margin-bottom: 40px;
}

/* SEARCH PARTNER SECTION */

.search-partner-section {
  display: flex;
  justify-content: space-between;
}

.column-dx h3 {
  font-size: 1.5rem;
  margin-top: 30px;
}

.column-dx p {
  margin: 30px 0;
}
